<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chain.mapper.UserRoleMapper">
    <select id="selectByUserIdAndRoleIdList" resultType="com.chain.entity.UserRole">
        select ur.* from sys_user_role ur where ur.user_id = #{userId} and ur.role_id in
        <foreach collection="roleIdList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByUserId" resultType="com.chain.entity.UserRole">
        select ur.* from sys_user_role ur where ur.user_id = #{userId}
    </select>
    <select id="selectByRoleId" resultType="com.chain.entity.UserRole">
        select ur.* from sys_user_role ur where ur.role_id = #{roleId}
    </select>

    <delete id="deleteByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>
</mapper>
